@keyframes lightOn {
    0% {
        height: 0%;
        clip-path: polygon(49% 0, 50% 0, 50% 100%, 49% 100%);
    }

    40% {
        height: 0%;
        clip-path: polygon(49% 0, 50% 0, 50% 100%, 49% 100%);
    }

    60% {
        height: 85%;
        clip-path: polygon(49% 0, 50% 0, 50% 100%, 49% 100%);
    }

    100% {
        clip-path: polygon(49% 0, 50% 0, 100% 100%, 0% 100%);
    }
}

@keyframes jump1 {
    0% {
        opacity: 1;
        right: -10%;
        bottom: 20%;
    }

    20% {
        right: 15%;
        bottom: 10%;
    }

    30% {
        right: 15%;
        bottom: 10%;
        transform: scaleX(1);
    }

    40% {
        right: 15%;
        bottom: 10%;
        transform: scaleX(-1);
    }

    50% {
        right: 15%;
        bottom: 10%;
        transform: scaleX(-1);
    }

    55% {
        right: 15%;
        bottom: 13%;
        transform: scaleX(-1);
    }

    60% {
        right: 15%;
        bottom: 10%;
        transform: scaleX(-1);
    }

    70% {
        right: 15%;
        bottom: 10%;
        transform: scaleX(-1);
    }

    90% {
        right: -10%;
        bottom: 20%;
        transform: scaleX(-1);
    }

    100% {
        opacity: 1;
        right: -10%;
        bottom: 20%;
        transform: scaleX(-1);
    }
}

@keyframes jump2 {
    0% {
        opacity: 1;
        top: -10%;
        left: -10%;
        transform: scaleX(-1);
    }

    20% {
        top: 10%;
        left: 20%;
        transform: scaleX(-1);
    }

    30% {
        top: 10%;
        left: 20%;
        transform: scaleX(1);
    }

    40% {
        top: 10%;
        left: 20%;
        transform: scaleX(1);
    }

    50% {
        top: 10%;
        left: 20%;
        transform: scaleX(-1);
    }

    60% {
        top: 10%;
        left: 20%;
        transform: scaleX(-1);
    }

    80% {
        top: -10%;
        left: 30%;
        transform: scaleX(-1);
    }

    100% {
        opacity: 1;
        top: -10%;
        left: 30%;
        transform: scaleX(-1);
    }
}

@keyframes jump3 {
    0% {
        left: -10%;
        top: 80%;
        transform: scaleX(-1) translateY(-50%);
    }

    5% {
        left: 20%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    10% {
        left: 20%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    12.5% {
        left: 30%;
        top: 55%;
        transform: scaleX(-1) translateY(-50%);
    }

    15% {
        left: 40%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    16.5% {
        left: 35%;
        top: 55%;
        transform: scaleX(-1) translateY(-50%);
    }

    18% {
        left: 30%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    25% {
        left: 30%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    27.5% {
        left: 38%;
        top: 55%;
        transform: scaleX(-1) translateY(-50%);
    }

    30% {
        left: 47%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    33% {
        left: 52%;
        top: 52%;
        transform: scaleX(-1) translateY(-50%);
    }

    36% {
        left: 57%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    39% {
        left: 62%;
        top: 49%;
        transform: scaleX(-1) translateY(-50%);
    }

    42% {
        left: 67%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    45% {
        left: 67%;
        top: 60%;
        transform: scaleX(-1) translateY(-50%);
    }

    47.5% {
        left: 67%;
        top: 60%;
        transform: scaleX(1) translateY(-50%);
    }

    50% {
        left: 67%;
        top: 57%;
        transform: scaleX(1) translateY(-50%);
    }

    52.5% {
        left: 67%;
        top: 60%;
        transform: scaleX(1) translateY(-50%);
    }

    56% {
        left: 50%;
        top: 47%;
        transform: scaleX(1) translateY(-50%);
    }

    59% {
        left: 38%;
        top: 60%;
        transform: scaleX(1) translateY(-50%);
    }

    68% {
        left: -10%;
        top: 45%;
        transform: scaleX(1) translateY(-50%);
    }

    100% {
        left: -10%;
        top: 45%;
        transform: scaleX(1) translateY(-50%);
    }
}

@keyframes wordJump {
    0% {
        transform: scaleY(0);
    }
    
    70% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(0.3);
    }

    100% {
        transform: scaleY(0.1);
    }
}

@keyframes singleWordJump1 {
    0% {
        transform: scaleY(0.1);
    }

    60% {
        transform: scaleY(0.1);
    }

    70% {
        transform: scaleY(1.2);
    }

    80% {
        transform: scaleY(1);
    }
}

@keyframes singleWordJump2 {
    0% {
        transform: scaleY(0.1);
    }

    60% {
        transform: scaleY(0.1);
    }

    67% {
        transform: scaleY(1.2);
    }

    74% {
        transform: scaleY(1);
    }
}

@keyframes singleWordJump3 {
    0% {
        transform: scaleY(0.1);
    }

    83% {
        transform: scaleY(0.1);
    }

    87% {
        transform: scaleY(1.4);
    }

    91% {
        transform: scaleY(1);
    }
}

@keyframes stop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}